@page
@model Agenda2.Pages.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Senha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usuario.Senha)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usuario.Id">Editar</a> |
    <a asp-page="./Index">Voltar à Listagem</a>
</div>
